
.sc-sale-server {

}

.sc-sale-server .page-header {
    border-bottom: 3px solid #c92323;
    margin: 20px 10px;
}

.sc-sale-server p {
    font-size: 15px;
    color: #646464;
    margin-bottom: 30px;
}

